<link rel="stylesheet" href="./resurse/css/print.css" />

<header>
    <h1 id="site-title">Masini bengoase</h1>
    <nav>
      <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="hamburger">
      </label>
      <input id="ch-menu" type="checkbox">

      <ul class="menu">
        <li>
          <a href="index.html"><span id="home-display" class="fas fa-home"></span><span id="home-write">Acasa</span></a>
        </li>
        <li>
          <div>Firme</div>
          <ul class="submenu">
            <!-- pagini pentru alte masini -->
            <li><a href="/index#lamborghini">Detalii despre lamborghini</a></li>
            <li><a href="/index#ferrari">Ferrari</a></li>
            <li><a href="/index#mclaren">Mclaren</a></li>
            <li><a href="/index#bmw">BMW</a></li>
          </ul>
        </li>
        <li>
          <div>Accesare rapida</div>
          <ul class="submenu">
            <li><a href="#details-car">Lamborghini</a></li>
            <li><a href="#lambo-founder">Fondator</a></li>
          </ul>
        </li>
        <li><a href="despre">Despre</a></li>
        <li><a href="index.html">Contact</a></li>
      </ul>
    </nav>
    <div title="go back to the top" class="rotated-square">
      <a href="#" class="triangle"></a>
    </div>
  </header>